$Muli: 'Muli', sans-serif;
$alpha: #f44336;
$activeX: #2bc687;
$highlight: transparent;
$med-font-size: 14px;
$main: #e94a2f;
$sec: #48318c;
$gradient: linear-gradient(to bottom, $main, #e92f71);
$gradientFaded: linear-gradient(to bottom, #fcf6ea, #f6dbab);
$textLite: #7f7f7f;
$stickyAdjust: 70px; // Todo: addComment
