$Muli: 'Muli', sans-serif;
$alpha: #f44336;
//$alpha: #ffffff;
$activeX: #2bc687;
$highlight: transparent;
$med-font-size: 14px;
$main: #e94a2f;
$sec: #48318c;
$gradient: linear-gradient(to bottom, $main, #e92f71);
