<div class="PassComp container">
  <div class="row">
    <div class="add-prod col-sm-5">
      <h3>Add a Restaurant</h3>

      <form name="addProd" #addProdForm="ngForm"
            (ngSubmit)="onSubmit(addProdForm)" class="add-pass-form">
        <!--NAME-->
        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Restaurant's Name"
                 name="name" [(ngModel)]="restItem.name">
          <a *ngIf="restItem.name" (click)="clearInput($event)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>
        <!--Image Count-->
        <div class="img-process">
          <div class="image-count">
            <label>No.of Outlet images :
              <input type="number" max="20" name="outletImageCount" [(ngModel)]="imgCount.outlet">
            </label>
          </div>
          <div class="image-count">
            <label>No.of Menu images :
              <input type="number" max="20" name="menuImageCount" [(ngModel)]="imgCount.menu">
            </label>
          </div>
          <!---For the Build button to appear restaurant name, no of both outlet and menu images need to be greater than zero-->
          <a *ngIf="restItem.name && imgCount.menu || imgCount.outlet" mat-button (click)="referenceImg(restItem.name)">
            <i class="material-icons">build</i>
          </a>
        </div>

        <!--area-->
        <mat-form-field>
          <mat-select required placeholder="City"
                      (selectionChange)="onChangeSelect($event.value)"
                      name="area" [(ngModel)]="restItem.location.area">
            <mat-option (click)="optClick(loco.city)" *ngFor="let loco of locations$ | async" [value]="loco.city">
              {{loco.city}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--toal-->
        <mat-form-field [ngClass]="{'disappear': !restItem.location.area}">
          <mat-select required placeholder="Neighborhood"
                      name="toal" [(ngModel)]="restItem.location.toal">
            <div class="some" *ngFor="let subCities of locationSubCity$ | async">
              <mat-option *ngFor="let sub of subCities" [value]="sub">
                {{sub}}
              </mat-option>
            </div>
          </mat-select>
        </mat-form-field>

        <!--Food Type-->
        <mat-form-field>
          <mat-select required placeholder="Food Type" name="foodType"
                      [(ngModel)]="restItem.foodType">
            <mat-option *ngFor="let type of foodTypes$ | async" [value]="type.foodType">
              {{type.foodType}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--priceRange-->
        <mat-form-field>
          <mat-select required placeholder="Price Range"
                      name="priceRange" [(ngModel)]="restItem.priceRange">
            <mat-option *ngFor="let type of priceRangeType" [value]="type.valNumber">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--RATING-->
        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Rating" type="number"
                 name="rating" [(ngModel)]="restItem.rating">
          <a *ngIf="restItem.rating" (click)="clearInput($event)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>

        <!--TakeCreditCard-->
        <mat-form-field>
          <mat-select required placeholder="Credit card payment"
                      name="creditCards" [(ngModel)]="restItem.services.creditCards">
            <mat-option *ngFor="let type of yesNoType" [value]="type.boolean">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--Serve Alcohol-->
        <mat-form-field>
          <mat-select required placeholder="Do they serve Alcohol"
                      name="creditCards" [(ngModel)]="restItem.services.serveAlcohol">
            <mat-option *ngFor="let type of yesNoType" [value]="type.boolean">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--Phone Number-->
        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Phone number"
                 name="phoneNumber" [(ngModel)]="restItem.phoneNumber">
          <a *ngIf="restItem.phoneNumber" (click)="clearInput($event)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>
        <a class="alt-phone" *ngIf="!alterPhone" (click)="activeAltPh()" matTooltip="Add alternate Phone number">
          <i class="material-icons">add</i>
        </a>

        <!--ALT Phone Number-->
        <mat-form-field class="example-full-width" *ngIf="alterPhone">
          <input matInput placeholder="2nd Phone number"
                 name="phoneNumberTwo" [(ngModel)]="restItem.phoneNumberTwo">
          <a *ngIf="restItem.phoneNumberTwo" (click)="clearInput($event)"
             class="clear-input fa fa-times"></a>
        </mat-form-field>

        <!--Store Hours-->
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Store Hours
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="color: #e94a2f">Please enter Store Hour in ArmyTime</div>
            <mat-form-field class="example-full-width">

              <mat-label>Monday</mat-label>
              <input matInput required
                     name="imgUrlOne" [(ngModel)]="restItem.storeHours.monday">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Tuesday</mat-label>
              <input matInput required
                     name="imgUrlOne" [(ngModel)]="restItem.storeHours.tuesday">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Wednesday</mat-label>
              <input matInput required
                     name="imgUrlOne" [(ngModel)]="restItem.storeHours.wednesday">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Thursday</mat-label>
              <input matInput required
                     name="imgUrlOne" [(ngModel)]="restItem.storeHours.thursday">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Friday</mat-label>
              <input matInput required
                     name="imgUrlOne" [(ngModel)]="restItem.storeHours.friday">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Saturday</mat-label>
              <input matInput required
                     name="imgUrlOne" [(ngModel)]="restItem.storeHours.saturday">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Sunday</mat-label>
              <input matInput required
                     name="imgUrlOne" [(ngModel)]="restItem.storeHours.sunday">
            </mat-form-field>


          </mat-expansion-panel>
        </mat-accordion>
        <!--SUBMIT-->
        <button [disabled]="!addProdForm.valid" class="add-prod-btn" [ngClass]="{'valid': addProdForm.valid}" type="submit"
                mat-raised-button color="accent">Add Product
        </button>
      </form>
    </div>

    <!--OFFSET DIV-->
    <div class="col-sm-1"></div>
    <div class="preview-prod col-sm-5">
      <h3>Restaurant Images</h3>
      <div class="prod-preview-container">
        <!--Image Display-->
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Outlet Images
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="restItem.images.outlet">
              <div class="circle" *ngFor="let outlet of restItem.images.outlet; let i = index">
                <img src="{{outlet}}" alt="" class="prod-img">
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Menu Images
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="restItem.images.outlet">
              <div class="circle" *ngFor="let menu of restItem.images.menu; let i = index">
                <img src="{{menu}}" alt="" class="prod-img">
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <!---->
    </div>
  </div>
</div>
<div class="container">
  <app-gallery [adminMode]="true"></app-gallery>
</div>
