@import '../../styles/variables';
.ProdDisplayComp {
  margin: 0px 25px 20px 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .filter-form {
    padding-top: 20px;
    //border-right: 1px solid $main;
    padding-right: 20px;
    flex: 1;

    .restaurant-type {
      padding-bottom: 10px;
      h5.filter-title {
        margin: 7px 0;
        font-weight: 500;
      }
      mat-checkbox {
        padding-right: 10px;
        font-size: $med-font-size;
      }
    }
    .city-type, .price-range-type {
      .mat-form-field-container {
        display: flex;

        mat-form-field {
          .labeler {
            font-size: 15px;
          }
          mat-select {
            ::ng-deep {
              .mat-select-placeholder {
                font-size: 13px;
              }
            }
          }
        }
        a.clear-select.material-icons {
          position: relative;
          left: 10px;
          top: 19px;
          font-size: 16px;
          color: $alpha;
          cursor: pointer;
          visibility: hidden;
          &.appear {
            visibility: visible;
          }
        }
      }
      .mat-form-field-container.disappear {
        display: none;
      }
      padding-top: 10px;

      mat-form-field ::ng-deep .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
        border-top-width: 10px;
        .mat-select-value-text {
          color: $alpha;
          font-size: 15px;
          font-family: $Muli
        }

        mat-select .mat-form-field-label {
          mat-label {
            color: darkorange;
          }
        }
      }
    }
  }
  .gallery-container {
    flex: 6;
  }
}
