@import '../../styles/variables';
.ProdDisplayComp {
  margin: 0 25px 20px 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: $stickyAdjust;
  .form-placeholder {
    flex: 1;
    display: flex;
  }

  .filter-form {
    padding-top: 20px;
    padding-right: 20px;
    flex: 1;
    position: fixed;
    .fx {
      position: relative;
      a.anchor {
        visibility: hidden;
        position: absolute;
        left: -20px;
        top: 17px;
        i {
          font-size: 14px;
        }
        &.appear {
          visibility: visible;
        }
      }
      .search-input {
        ::ng-deep {
          .mat-form-field-wrapper {
            .mat-form-field-flex {
              .mat-form-field-infix {
                display: flex;
                width: 100%;
                border: none;

                .search-btn {
                  padding-right: 0;
                  padding-left: 0;
                  margin-left: 5px;
                  min-width: 36px;
                  transition: background-color 0.8s ease, color 0.2s ease;
                  border-radius: 99px;

                  &:hover, &:active, &:focus {
                    background-color: $main;
                    color: white;
                  }
                }

                .mat-form-field-label-wrapper .mat-form-field-label {
                  position: relative;
                  top: 16px;
                }
              }
            }

            .mat-form-field-underline {
              height: 2px;
              background: #cccccc;
            }

          }
        }

        &.mat-focused {
          .search-btn {
            color: $main;
          }
        }
      }
    }
    .restaurant-type {
      padding-bottom: 10px;
      h5.filter-title {
        margin: 7px 0;
        font-weight: 500;
      }
      mat-checkbox {
        padding-right: 10px;
        font-size: $med-font-size;
      }
    }
    .city-type, .price-range-type {
      .mat-form-field-container {
        display: flex;

        mat-form-field {
          .labeler {
            font-size: 15px;
          }
          mat-select {
            ::ng-deep {
              .mat-select-placeholder {
                font-size: 13px;
              }
            }
          }
        }
        a.clear-select.material-icons {
          position: relative;
          left: 10px;
          top: 19px;
          font-size: 16px;
          color: $alpha;
          cursor: pointer;
          visibility: hidden;
          &.appear {
            visibility: visible;
          }
        }
      }
      .mat-form-field-container.disappear {
        display: none;
      }
      padding-top: 10px;

      mat-form-field ::ng-deep .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
        border-top-width: 10px;
        .mat-select-value-text {
          color: $alpha;
          font-size: 15px;
          font-family: $Muli
        }

        mat-select .mat-form-field-label {
          mat-label {
            color: darkorange;
          }
        }
      }
    }
  }
  .gallery-container {
    flex: 6;
  }
}

.autocomplete-label {
  font-size: 10px;
  float: right;
  padding-right: 10px;
  color: $textLite;
}
