<div class="ProdDisplayComp none">
  <!--Filter-->
  <div class="form-placeholder"></div>
  <form class="filter-form" name="restFilter" #restFilterForm="ngForm"
          (ngSubmit)="onSubmit(restFilterForm)">
      <div class="restaurant-type fx fx-cl" *ngIf="foodTypes$">
          <h5 class="filter-title">Type of Restaurant</h5>
          <mat-checkbox value="{{food.foodType}}" name="foodTypeCheckBox" (change)="onChangeFoodType(food.foodType, $event.checked)"
                        [(ngModel)]="restFilter.restType[food.foodType]"
                        *ngFor="let food of foodTypes$ | async">{{food.foodType}}</mat-checkbox>
      </div>
      <div class="city-type">
        <div class="mat-form-field-container">
          <mat-form-field>
            <mat-label class="labeler">City</mat-label>
            <mat-select (selectionChange)="onChangeSelect($event.value)" name="citySelect" [(ngModel)]="restFilter.locationType.area" >
              <mat-option (click)="optClick(loco.city)" *ngFor="let loco of locations$ | async" [value]="loco.city">
                {{loco.city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <a class="clear-select material-icons" [ngClass]="{'appear': restFilter.locationType.area}" (click)="clearFitler($event)">close</a>
        </div>

        <div class="mat-form-field-container" [ngClass]="{'disappear': !citySelected}">
          <mat-form-field>
            <mat-label class="labeler">Sub City</mat-label>
            <mat-select [(ngModel)]="restFilter.locationType.toal" name="toalSelect">
              <div class="some" *ngFor="let subCities of locationSubCity$ | async;">
                <mat-option *ngFor="let sub of subCities" [value]="sub">
                  {{sub}}
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>
          <a class="clear-select material-icons" [ngClass]="{'appear': restFilter.locationType.toal}" (click)="clearFitler($event)">close</a>
        </div>

        <div class="mat-form-field-container" [ngClass]="{'disappear': citySelected}">
          <mat-form-field>
            <mat-label class="labeler">All City</mat-label>
            <mat-select [(ngModel)]="restFilter.locationType.allSubCities" name="allSubCities">
              <mat-option *ngFor="let sub of newArray" [value]="sub">
                {{sub}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <a class="clear-select material-icons" [ngClass]="{'appear': restFilter.locationType.allSubCities}" (click)="clearFitler($event)">close</a>
        </div>
      </div>


      <div class="price-range-type">
        <div class="mat-form-field-container">
          <mat-form-field>
            <mat-label class="labeler">Price Range</mat-label>
            <mat-select name="priceRange" [(ngModel)]="restFilter.priceRangeType">
              <mat-option *ngFor="let type of priceRangeType" [value]="type.valNumber">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <a class="clear-select material-icons" [ngClass]="{'appear': restFilter.priceRangeType}" (click)="clearFitler($event)">close</a>
        </div>
      </div>
    </form>
  <!--Display-->
  <div class="gallery-container">
    <app-gallery [restFilterValArr]="restFilterValArr"
                 [src]="'products'"
                 [products$]="products$"
                 [subCitySelect]="getThis()"
                 [priceRangeSelect]="restFilter.priceRangeType"
                 [citySelect]="restFilter.locationType.area"></app-gallery>
  </div>
</div>

