<div class="ProdDisplayComp none">
  <!--Filter-->
    <form class="filter-form" name="restFilter" #restFilterForm="ngForm"
          (ngSubmit)="onSubmit(restFilterForm)">
      <div class="restaurant-type flex flex-cln" *ngIf="foodTypes$">
          <h5>Type of Restaurant:</h5>
          <mat-checkbox value="{{food.foodType}}" name="foodTypeCheckBox" (change)="onChangeFoodType(food.foodType, $event.checked)"
                        [(ngModel)]="restFilter[food.foodType]"
                        *ngFor="let food of foodTypes$ | async">{{food.foodType}}</mat-checkbox>
      </div>



      <div class="city-type">
        <h5>Location</h5>
        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select>
            <mat-option *ngFor="let loco of locations$ | async" [value]="loco.subCity">
              {{loco.subCity}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  <!--Display-->
  <div class="gallery-container">
    <app-gallery [restFilterValArr]="restFilterValArr"></app-gallery>
  </div>



</div>

