<div class="ProdDisplayComp none">
  <!--Filter-->
    <div class="filter-container">
      <div class="restaurant-type" >
        <h4 *ngFor="let star of foodTypeArray">Type of Restaurant</h4>


      </div>


      <div class="city-type">
<!--        <h4>Type of Restaurant</h4>-->
<!--        <mat-checkbox>Traditional Nepali</mat-checkbox>-->
<!--        <mat-checkbox>Newari</mat-checkbox>-->
<!--        <mat-checkbox>American Fusion</mat-checkbox>-->
<!--        <mat-checkbox>Momo Speciality</mat-checkbox>-->
      </div>
    </div>
  <!--Display-->
  <div class="gallery-container">
    <app-gallery></app-gallery>
  </div>



</div>

