@import 'src/app/styles/variables';
.rating-comp {
  position: relative;
  width: auto;
  min-width: 90px;
  &:not(.price-range) {
    position: relative;
    top: 3px;
    padding: 0 5px;
  }
  .no-star {
    color: #cccccc;
    font-size: 18px;
  }
  .star {
    color: $main;
    font-size: 18px;
  }

  &.price-range {
    padding-left: 10px;
    position: relative;
    top: 3px;
    width: 60px;

    &:hover {
      .star {
        transform: scale(1);
      }
    }

    .star {
      color: green;
      font-size: 18px;
      position: relative;
      transform: scale(0.8);
      transition: transform 0.5s ease;

      &:nth-child(2) {
        right: 6px;
      }
      &:nth-child(3) {
        right: 12px;
      }
      &:nth-child(4) {
        right: 18px;
      }
    }
    .no-star {
      display: none;
    }
  }
  .hover-text {
    border: 1px solid #ccc;
    font-size: 12px;
    position: absolute;
  }
}
:host {
  width: auto;
}
