<div class="container sm">
  <div class="fx" *ngIf="product$ | async as restaurant">

    <div class="rest-info-container" *ngFor="let rest of restaurant">
      <div class="images-container">
        <img src="../../../assets/img/{{rest.images.outlet.outletOne}}" alt="">
        <img src="../../../assets/img/{{rest.images.outlet.outletTwo}}" alt="">
        <img src="../../../assets/img/{{rest.images.outlet.outletThree}}" alt="">
        <img src="../../../assets/img/{{rest.images.outlet.outletFour}}" alt="">
      </div>
      <div class="rest-details">
        <div class="identity">
          <div class="name-rating-container">
            <span class="name">{{rest.name}}</span>
            <app-rating [restRating]="rest.rating" [src]="'rating'"></app-rating>
          </div>
          <div class="type-price-range-container">
            <div class="type">{{rest.foodType}}</div>
            <app-rating [restRating]="rest.priceRange" [src]="'priceRange'"></app-rating>
          </div>
          <div class="services">
        <span class="service-container" *ngIf="rest.services.creditCards">
          <i class="material-icons">credit_card</i> <span>Credit Accepted</span>
        </span>
            <span class="service-container" *ngIf="rest.services.serveAlcohol">
          <i class="material-icons">local_bar</i> <span>Serves Alcohol / Beer</span>
        </span>
            <span class="service-container" *ngIf="rest.services.selfService">
          <i class="material-icons">emoji_people</i> <span>Self Service</span>
        </span>
          </div>
        </div>
        <div class="store-hours">
          <label for="store-hours">Store Hours</label>
          <table id="store-hours">
            <tr *ngFor="let week of week"
                [ngClass]="getHoursClass(week.status)">
              <td>{{week.day}}</td>
              <td>{{rest.storeHoursString[week.day | lowercase]}}</td>
              <td hidden>{{openClose(week.day, rest.storeHours[week.day | lowercase])}}</td>
              <td>{{week.status}}</td>
            </tr>
          </table>
        </div>
        <div class="contact">
          <div class="contact-container">
            <i class="material-icons">home</i>
            <span>{{rest.location.toal | titlecase}}, {{rest.location.area | titlecase}}</span>
          </div>
          <div class="contact-container">
            <i class="material-icons">phone</i>
            <a href="tel:{{rest.phoneNumber}}">{{rest.phoneNumber}}</a>
          </div>
        </div>
      </div>

      <div class="rating-btn-container" *ngIf="logStatus$ | async as user">
        <button class="review-btn" mat-button (click)="openRatingDialog(rest.name, rest.id, user.displayName, user.photoURL)">Write a Review</button>
      </div>
      <app-display-review class="app-display-view" [restId] = productId></app-display-review>
    </div>

  </div>
</div>
