@import 'src/app/styles/variables';

.container {
  margin-top: 20px;
  .fx {
    justify-content: center;
  }
  .rest-info-container {
    padding-top: $stickyAdjust;
    .rest-details {
      display: flex;
      margin-top: 30px;
      justify-content: space-between;
      .identity {
        .name-rating-container {
          .name {
            font-size: 22px;
            font-weight: 500;
          }
          ::ng-deep {
            .rating-comp i {
              &:not(.no-star) {
                color: $main;
              }
              font-size: 20px;
            }
          }
        }
        .type-price-range-container {
          display: flex;
          .type {
            color: #4c4c4c;
            font-size: 13px;
            font-family: $Muli;
            align-self: center;
          }
        }
        .services {
          margin-top: 10px;
          span.service-container {
            display: flex;
            margin-bottom: 5px;
            span {
              margin-left: 5px;
              font-size: 12px;
              align-self: center;
            }
          }
        }
      }

      .contact {
        .contact-container {
          display: flex;
          margin-bottom: 10px;
          span, a {
            align-self: center;
            margin-left: 10px;
            font-family: $Muli;
            font-size: 14px;
          }
          a {
            color: #000000;
          }
        }
      }
    }
    :host {
      .app-display-review {
        z-index: 123;
        margin: 10px;
      }
    }

    .review-btn {
      margin-top: 20px;
      background: $gradient;
      color: #ffffff;
    }

    img.rest-img {
      width: 300px;
      height: 250px;
      padding-right: 10px;
    }
    // No Review
    .no-review {
      margin-left: 20px;
      .new-user {
        display: flex;
        align-self: center;
        .circled {
          border: none;
          font-size: 35px;
        }
        textarea {
          resize: none;
          font-size: 14px;
          font-family: 'Muli', sans-serif;
          background: transparent;
          border: none;
          padding: 0 0 0 10px;
        }
      }
    }
  }
}

