<mat-toolbar>
  <div class="d-flex">
    <button class="app-logo" mat-button  [routerLink]="['/products']">
      <i class="material-icons">fastfood</i>
      <b>Yummy</b>
    </button>
    <div class="header-rest-name align-self-center"
         [ngClass]="{'show': showName() && showActRestName}"> | {{activeRestName}}</div>
  </div>

  <div class="weather-auth-container fx">
    <app-weather></app-weather>
    <app-auth></app-auth>
  </div>
</mat-toolbar>
<mat-spinner *ngIf="showLoadingIndicator" class="spinner"></mat-spinner>


<router-outlet></router-outlet>


