@import 'src/app/styles/variables';
:host {
  display: flex;
  .login-btn {
    i {
      color: #ffffff;
    }
  }
  .logout-menu {
    display: flex;
    .user-img-con {
      border-radius: 94px;
      border: 1.5px solid #ffffff;
      width: 50px;
      height: 50px;
      display: inline-block;

      img {
        width: 50px;
        border-radius: 99px;
        position: relative;
        top: 1px;
      }
    }
  }

  .material-icons.cart {
    font-size: 30px;
  }

  .no-of-cart-items {
    font-size: 12px;
    position: relative;
    right: 35px;
    bottom: 19px;
  }
}

