<div class="header">
        <span class="logo">
            <i class="material-icons">fastfood</i>
            <b>Yogi</b>
        </span>
    <span class="review-text">Post a Review</span>
</div>
<div class="modal-container">
    <div class="name-rating fx">
        <h3>{{name}}</h3>
        <div class="star-container">
            <a mat-button [ngStyle]="{'color': rateStar.clicked ? '#e94a2f' : '' }"
               [ngClass]="{'star-hovered': rateStar.hover}" *ngFor="let rateStar of rateStars"
               (click)="rated(rateStar.numb)" matTooltip="{{rateStar.des}}" (mouseleave)="starUnHovered()"
               (mouseenter)="starHovered(rateStar)">
                <i class="material-icons">star_border</i>
            </a>
        </div>
    </div>
    <div class="fx fx-cl review-submit">
        <textarea [(ngModel)]="review" maxlength="5000" style="height: 200px"></textarea>
        <div>
            <button [disabled]="checkDisability()" mat-button
                    [ngClass]="{'disabled-btn': checkDisability()}"
                    (click)="submitReview()">Post it!</button>
        </div>
    </div>
</div>

