.modal-container {
  padding: 0 30px;
  h3 {
    display: inline;
  }
  .name-rating {
    justify-content: space-between;
    .mat-button {
      min-width: 30px;
      line-height: 0;
      align-self: center;
      padding: 0 5px;
      transition: color .5s ease;
      &.star-clicked {
        color: gold;
      }
      &.star-hovered {
        color: gold;
      }
    }
  }
  .review-submit {
    textarea {
      resize: none;
      padding: 20px 20px 40px 20px;
      font-size: 14px;
      font-family: 'Muli', sans-serif;

    }
  }
}
.header {
  .review-text {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
  }
}


