.display-view .repeater {
  display: flex;
  padding: 20px 10px;
  border-bottom: 2px solid #cccccc;
  .circle {
    margin-right: 15px;
    .banner {
      text-align: center;
      background: transparent;
      color: transparent;
      transition: top .4s ease, background 1s ease, color 1s ease;
      border-bottom-right-radius: 8px;
      top: -4px;
      opacity: 0.5;

    }
  }
  .info {
    span {
      display: block;
      font-size: 14px;
    }
    .name {
      font-family: 'Muli', sans-serif;
      font-size: 18px;
      font-weight: 500;
      display: inline;
    }
    .type {
      font-size: 12px;
      color: #ccc;
    }
    .location {
      padding-top: 10px;
    }
    .store-closed {
      color: #f44336;
    }
    .store-open {
      color: #2bc687;
    }
  }

}
