.display-view .repeater {

  .circle {
    position: relative;
    margin-right: 5px;

    &:hover {
      .banner {
        display: block;
        font-size: 14px;
        color: #ffffff;
        opacity: 1;
        top: -18px;
        position: relative;

      }
      .title {
        bottom: -25px;
      }
      .price {
        color: #ffffff;
        left: -3px;
        background-color: #ff8400;
        box-shadow: 2px 4px 15px crimson;
      }
    }
    .banner {
      text-align: center;
      background: transparent;
      color: transparent;
      transition: top .4s ease, background 1s ease, color 1s ease;
      border-bottom-right-radius: 8px;
      top: -4px;
      opacity: 0.5;

    }

  }
  .material-icons {
    margin-left: 80%;
    cursor: pointer;
    color: #cccccc;
    font-size: 16px;
    position: relative;
    bottom: 6px;
    transition: color 0.6s ease-in-out;

    &:hover {
      color: #ff8400;
    }
  }
}
