<div class="fx display-view" *ngIf="products$ | async as prodItems">
  <div class="repeater"  *ngFor="let rest of prodItems">
    <div class="img-rating-container">
      <div class="circle">
        <img src="../../../assets/img/{{rest.images.outlet.outletOne}}" alt="{{rest.name}}">
      </div>
    </div>
    <div class="more-info">
      <div class="name-rating-container">
        <div class="name">{{rest.name}}</div>
        <app-rating [restRating]="rest.rating" [src]="'rating'"></app-rating>
      </div>

      <div class="type">{{rest.foodType | titlecase}} Restaurant</div>
      <div class="location">
        <i class="material-icons">home</i>
        <span>{{rest.location.toal | titlecase}}, {{rest.location.area | titlecase}}</span>
      </div>
      <div class="phone-indicators-container">
        <div class="phone">
          <i class="material-icons">phone</i>
          <a href="tel:{{rest.phoneNumber}}">{{rest.phoneNumber}}</a>
        </div>
        <div class="indicators">
          <i class="material-icons" *ngIf="rest.services.creditCards" matTooltip="Accepts Credit Cards">credit_card</i>
          <i class="material-icons" *ngIf="rest.services.serveAlcohol" matTooltip="Serves Alcohol">local_bar</i>
          <i class="material-icons" *ngIf="rest.services.selfService" matTooltip="Self Service">emoji_people</i>
        </div>
      </div>

      <div class="review">"I went to here for my birthday and they were nice enough to sing my birthday song and also they had the best chicken fries."</div>
      <div class="open-closed-container">
        <div *ngIf="rest.isOpen" class="store-open">Open until {{closingTime}} PM today</div>
        <div *ngIf="!rest.isOpen && !closedToday" class="store-closed">Closed</div>
        <div *ngIf="!rest.isOpen && closedToday" class="store-closed">Closed until {{nextOpenDay}} </div>
      </div>

    </div>
  </div>
</div>

