<div *ngIf="isOpen && !isClosingSoon" class="store-open">OPEN <span>until {{closingTime}} today</span></div>
<div class="closing-soon" *ngIf="isClosingSoon">Closing Soon <span>in {{closingSoonTimeLeft}} minutes</span></div>
<div *ngIf="!isOpen && closedToday" class="store-closed closed-today">Closed <span>Opens {{nextOpenDay}}</span></div>
<div *ngIf="!isOpen && !closedToday && !isOpeningSoon" class="store-closed">CLOSED <span>{{reOpeningTime}}</span></div>
<div class="opening-soon" *ngIf="isOpeningSoon">Opening Soon <span>in {{openSoonTimeLeft}} minutes</span></div>

