@import 'src/app/styles/variables';

.store-open, .opening-soon {
  color: #2bc687;
  span {
    font-size: 12px;
    color: #000000;
  }

}
.store-closed, .closing-soon{
  color: $alpha;
  span {
    display: block;
    font-size: 12px;
    color: #000000;
  }
}

.store-hours {
  label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
  }
  table#store-hours {
    tr {
      &.active {
        font-weight: bolder;
        font-size: 16px;
      }
      &.active.open {
        color: $activeX;
      }
      td {
        font-family: $Muli;
        font-size: 14px;
        &:nth-child(2) {
          padding-left: 35px;
        }
      }
    }
  }
}
