@import 'src/app/styles/variables';

.store-open, .opening-soon {
  color: #2bc687;
  span {
    font-size: 12px;
    color: #000000;
  }

}
.store-closed, .closing-soon{
  color: $alpha;
  span {
    display: block;
    font-size: 12px;
    color: #000000;
  }
}
