<div class="weather-billboard-con" *ngIf="weather$ | async as weathers">
    <h5 class="city-name">{{weathers.name}}</h5>

    <div class="temp-n-format">
        <span class="temp">{{roundUpTemp(weathers.main.temp)}}</span>
        <span class="degree">o</span>
        <span class="temp-format i-celcius">C</span>
    </div>
    <div class="weather-icon">
        <span class="w-info">{{weathers["weather"][0].main}}</span>
        <i class="material-icons">{{getWeatherIcon(weathers["weather"][0].main)}}</i>
    </div>
</div>
