<div class="weather-billboard-con" [ngClass]="getDayOrNight()" *ngIf="weatherInfo">
    <div class="weather-icon">
        <i [ngClass]="{'i-cloudy': weatherConditions === 'Clouds' || weatherConditions === 'Haze' || weatherConditions === 'Mist',
                    'i-clear-night': weatherConditions === 'Clear',
                   'i-snow': weatherConditions === 'Snow',
                   'i-sunny': weatherConditions === 'Sunny'}">
        </i>
    </div>

    <h5 class="city-name"
        (dblclick)="editCityActive()"
        *ngIf="!editCity">{{weatherInfo.name}}
    </h5>

    <form #editCityForm="ngForm" class="edit-city" *ngIf="editCity" (ngSubmit)="updatelocation(inputCity)" >
        <mat-form-field class="example-full-width">
            <input matInput required placeholder="City" [(ngModel)]="inputCity"
                   name="City" >
            <a *ngIf="!editCityForm.valid" (click)="clearEdit()"
               class="clear-input fa fa-times"></a>
        </mat-form-field>
    </form>

    <div class="temp-n-format">
        <span class="temp">{{temp}}</span>
        <span class="temp-format i-celcius">C</span>
    </div>
</div>
