<div class="header">
        <span class="logo">
            <i class="material-icons">fastfood</i>
            <b>Yogi</b>
        </span>
    <span class="review-text">Post a Review</span>
</div>
<div class="modal-container fx fx-cl">
    <button mat-button (click)="loginGoogle()">
        <img src="../../../assets/google-logo.png" alt="">
        <span>Login with Google</span>
    </button>
    <button mat-button class="face" (click)="facebookLogin()">
        <img src="../../../assets/facebook-logo.png" alt="">
        <span>Login with Facebook</span>
    </button>
    <div class="fx" *ngIf="note">
        <i class="material-icons">pan_tool</i>
        <span class="note">{{note}}</span>
    </div>
</div>
