@import 'src/app/styles/variables';
.modal-container {
  padding: 20px 30px;
  button {
    justify-content: space-around;
    margin-bottom: 20px;
    img {
      width: 50px;
      margin-right: 20px;
    }
    &.face {
      background: cornflowerblue;
      color: #fff;
    }
  }
  .note {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: $main;
  }
}
